#root {
  margin: 0 auto;
  text-align: center;
  color: var(--blueText);
}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Global Effects */

.Background {
  background-color: transparent;
}

.Interactable {
  background-color: transparent;
  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
}

.Interactable:hover {
  color: var(--blueText);
  text-shadow: 0px 0px 10px;
}

/* Scrollbar */

html {
  scrollbar-color: var(--redText) var(--redBackground);
  scrollbar-width: thin;
 }

*::-webkit-scrollbar {
  width: 1.8rem;
  overflow-y: visible;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track-piece {
  background: linear-gradient(90deg, 
    transparent 12.5%, 
    rgba(0, 0, 0, 0.1) 40%, 
    var(--redBackground) 40%,
    var(--redBackground) 60%, 
    rgba(0, 0, 0, 0.1) 60%, 
    transparent 87.5%);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, 
    transparent 0%, 
    var(--redGlow) 30%, 
    var(--redGlow) 40%, 
    var(--redText) 40%, 
    var(--redText) 60%, 
    var(--redGlow) 60%, 
    var(--redGlow) 70%, 
    transparent 100%);
}

*::-webkit-scrollbar-corner, *::-webkit-resizer {
  background-color: transparent;
  pointer-events: none;
}