:root {
  font-family: 'Play', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blueText: #5CF1F9;
  --redText: #FF6157;
  --redGlow: rgb(255, 98, 87, 0.2);
  --redBackground: #431617;
  --greyText: #99948F;
  --goldBorder: rgba(164, 121, 40, 1);
  --questBackground: rgba(21, 15, 22, 0.7);
  --objectiveBackground: rgba(40, 20, 20, 0.2);
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}