.QuestLog {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;

    padding: 30px;
    height: 100%;
    width: 100%;

    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr;
    gap: 40px;
}

/* Glass Effect */

.Glass {
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: rgba(255, 255, 255, .5) solid 1px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .4), 0 0 20px rgba(0, 0, 0, .5);
}

.Glint:hover {
    background: linear-gradient(150deg, rgba(255, 255, 255, .4), 
                                        rgba(255, 255, 255, .4) 20%, 
                                        rgba(255, 255, 255, .6) 50%, 
                                        rgba(255, 255, 255, .4) 80%,
                                        rgba(255, 255, 255, .4));
    background-size: 400% 400%;
    animation: glint 0.2s ease;
}

@keyframes glint {
    from {
        background-position: 100% 50%;
    }

    to {background-position: 0% 50%}
}

/* Quest Selector */

.QuestSelector {
    display: inline-block;
    
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.QuestSelector:first-child .QuestCard {
    margin-top: 0;
}

.QuestCard { 
    position: relative;

    margin: 0.5rem 0;
    padding: 0.5rem 1.5rem;
    width: 100%;

    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
}

.QuestCard header {
    max-width: 100%;

    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.QuestCard footer {
    max-width: 100%;

    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.QuestCard .statusButtons {
    position: absolute;
    display: flex;
    left: 101%;

    box-sizing: border-box;
    height: 30%;
    aspect-ratio: 1;

    font-size: 1.25rem;
    border-radius: 9999px;
    
    transition: 0.1s;

    align-items: center;
    justify-content: center;
}

.QuestCard .complete {
    top: 4%;
    background-color: rgba(100, 200, 100, .5);
}

.QuestCard .defeat {
    top: 35%;
    background-color: rgba(200, 100, 100, .5);
}

.QuestCard .delete {
    bottom: 4%;
    background-color: rgba(150, 150, 150, .5);
}

.QuestCard:hover .statusButtons {
    transform: translateX(-120%);
}

.QuestSelector button {
    border: none;
    outline: none;
    font-size: 2rem;
    font-family: inherit;
}

/* Quest */

.Quest {
    display: inline-block;
    
    margin: 0;
    padding: 40px 40px 0 40px;
    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

.Quest header {
    display: flex;

    height: auto; 
    min-height: auto;

    text-align: start;
    line-height: 7rem;
    font-size: 7rem;
    overflow: hidden;

    align-items: center;
}

.Quest main {
    text-align: start;
    font-size: 2.5rem;
    line-height: 3.75rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.Quest footer {
    margin-bottom: 20rem;

    overflow-y: auto;
    overflow-x: hidden;
}

.Quest .break {
    display: block;
    position: relative;
    left: 2%;

    margin: 1.5rem 0;
    padding: 0px;
    height: 0.1rem;
    width: 96%;

    background-color: #000000;
}

.Quest .editButton {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 2rem;

    background-color: rgba(255, 255, 255, .4);
    border-radius: 0 0 10px 10px;
    font-size: 2rem;
    font-family: inherit;
    line-height: 3.5rem;
    border: none;
    outline: none;

    cursor: pointer;
}

/* Objective */

.Objective {
    display: flex;
    position: relative;

    margin: 0.25rem 0;
    padding: 0 1rem;
    min-width: 50%;
    max-width: 50rem;

    font-size: 2.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    align-items: center;
}

.Objective.Complete {
    background: linear-gradient(150deg, rgba(100, 255, 100, 0.5), rgba(100, 255, 100, 0.7), rgba(255, 255, 255, 0.4));
    background-size: 400% 400%;
    animation: applyStatus 0.5s ease;
    background-position: 0% 50%;
}

.Objective.Defeat {
    background: linear-gradient(130deg, rgba(255, 100, 100, 0.5), rgba(255, 100, 100, 0.7), rgba(255, 255, 255, 0.4));
    background-size: 400% 400%;
    animation: applyStatus 0.5s ease;
    background-position: 0% 50%;
}

@keyframes applyStatus {
    from{
        background-position: 100% 50%;
    }
    to{
        background-position: 0% 50%;
    }
}

/* Scrollbar */

.Glass::-webkit-scrollbar, .Glass *::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
  
.Glass::-webkit-scrollbar-track, .Glass *::-webkit-scrollbar-track {
    background: transprent;
}

.Glass::-webkit-scrollbar-track-piece, .Glass *::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, .4);
}

.Glass::-webkit-scrollbar-track-piece:start:vertical {
    margin-top: 5rem;
    border-radius: 9999px 0 0 0;
}

.Glass::-webkit-scrollbar-track-piece:end:vertical {
    margin-bottom: 5rem;
    border-radius: 0 0 0 9999px;
}

.Glass *::-webkit-scrollbar-track-piece:vertical {
    border-radius: 9999px;
}

.Glass::-webkit-scrollbar-thumb, .Glass *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .5);
}
 
.Glass::-webkit-scrollbar-thumb:horizontal, .Glass *::-webkit-scrollbar-thumb:horizontal {
    border-radius: 9999px;
}

.Glass::-webkit-scrollbar-thumb:vertical {
    border-radius: 9999px 0 0 9999px;
}

.Glass *::-webkit-scrollbar-thumb:vertical {
    border-radius: 9999px;
}

.Glass::-webkit-scrollbar-thumb:hover, .Glass *::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, rgba(255, 255, 255), transparent);
}

.Glass::-webkit-scrollbar-corner, .Glass *::-webkit-scrollbar-corner, .Glass::-webkit-resizer, .Glass *::-webkit-resizer {
    background-color: transparent;
    pointer-events: none;
}