.QuestLogSelector {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    height: 5%;
    width: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    align-items: end;
    justify-content: center;

    overflow: hidden;
}

.QuestLogSelector::before, .QuestLogSelector::after {
    content: '';
    flex-grow: 1;
    flex-shrink: 1;

    height: calc(100% - 0.05rem);

    border-bottom: #7F2825 solid 0.1rem;
}

.QuestLogSelector > *:first-child {
    margin-left: 0.4rem;
}

.QuestLogSelector > *:last-child {
    margin-right: 0.4rem;
}

.QuestLogSelector > * {
    display: flex;
    position: relative;

    padding: 0 1rem;
    margin: 0 0.2rem;
    flex: 1 1 0;
    height: 90%;
    min-width: 0;
    width: 0;
    max-width: 20rem;

    border-bottom: 0.2rem #FF5F58 solid;

    align-items: center;
    justify-content: center;

    color: #FF5F58;

    z-index: 10;
}

.QuestLogSelector > *:hover {
    color: #5CF1F9;
    text-shadow: 0px 0px 10px;
}

.QuestLog .content {
    display: flex;

    height: 100%;
    width: 100%;

    font-size: 1.5rem;
    line-height: 0;

    align-items: center;
    justify-content: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
}

.QuestLog.Selected {
    min-width: fit-content;

    border-bottom: 0.2rem #5CF1F9 solid;

    color: #5CF1F9;
    text-shadow: 0px 0px 10px;
}

.newQuestLog {
    flex: 0 1 0;
    font-size: 4rem;
}

.newQuestLog::after {
    content: '+';
    font-size: 3rem;
}