.QuestLogSelector {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    height: 7.25%;
    width: 100%;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    align-items: end;
    justify-content: center;

    overflow: hidden;
}

.QuestLogSelector::before, .QuestLogSelector::after {
    content: '';
    flex-grow: 1;
    flex-shrink: 1;

    height: calc(100% - 0.05rem);

    border-bottom: var(--redBackground) solid 0.1rem;
}

.QuestLogSelector > *:first-child {
    margin-left: 0.4rem;
}

.QuestLogSelector > *:last-child {
    margin-right: 0.4rem;
}

.QuestLogSelector > * {
    display: flex;
    position: relative;

    padding: 0 1rem;
    margin: 0 0.2rem;
    flex: 1 1 0;
    height: 66%;
    min-width: 0;
    width: 0;
    max-width: fit-content;

    border-bottom: 0.2rem var(--redText) solid;

    align-items: center;
    justify-content: center;

    color: var(--redText);

    z-index: 10;
}

.QuestLogSelector > *:hover {
    color: var(--blueText);
    text-shadow: 0px 0px 10px;
}

.QuestLog .content {
    display: flex;

    height: 100%;
    width: 100%;

    font-size: 1.8rem;
    font-weight: light;
    line-height: 0;

    align-items: center;
    justify-content: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.QuestLog .delete {
    display: none;
}

.QuestLog.Selected {
    min-width: fit-content;

    border-bottom: 0.2rem var(--blueText) solid;

    color: var(--blueText);
    text-shadow: 0px 0px 10px;
}

.newQuestLog {
    flex: 0 1 0;
    font-size: 4rem;
}

.newQuestLog::after {
    content: '+';
    font-family: sans-serif;
    font-size: 3rem;
}