.statusButtons {
    position: relative;
    display: flex;
    cursor: pointer;

    box-sizing: border-box;
    aspect-ratio: 1;

    font-size: 1.25rem;

    align-items: center;
    justify-content: center;

    z-index: 13;
}

.statusButtons > span {
    z-index: 13;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statusButtons > .CheckboxIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 12;
}

.statusButtons > .CheckboxIcon>g>path:nth-child(2) {
    fill: black;
}

.statusButtons > .CheckboxIcon>g>text>tspan {
    fill: transparent;
    stroke: transparent;
}

.statusButtons.complete:hover>.CheckboxIcon>g>text>tspan,
.statusButtons.defeat:hover>.CheckboxIcon>g>text>tspan,
.statusButtons.delete:hover>.CheckboxIcon>g>text>tspan {
    fill: var(--blueText)
}

.statusButtons.complete:hover>.CheckboxIcon>g>path, .statusButtons.complete,
.statusButtons.defeat:hover>.CheckboxIcon>g>path, .statusButtons.defeat,
.statusButtons.delete:hover>.CheckboxIcon>g>path, .statusButtons.delete {
    color: var(--blueText);
    stroke: var(--blueText);
    text-shadow: 0px 0px 2px;
}

.statusButtons.complete:active>.CheckboxIcon>g>text>tspan,
.statusButtons.defeat:active>.CheckboxIcon>g>text>tspan,
.statusButtons.delete:active>.CheckboxIcon>g>text>tspan {
    fill: var(--goldText);
}

.statusButtons.complete:active>.CheckboxIcon>g>path, .statusButtons.complete,
.statusButtons.defeat:active>.CheckboxIcon>g>path, .statusButtons.defeat,
.statusButtons.delete:active>.CheckboxIcon>g>path, .statusButtons.delete {
    color: var(--goldText);
    stroke: var(--goldText);
    text-shadow: 0px 0px 2px;
}

.statusButtons.complete>.CheckboxIcon>g>text>tspan {
    fill: var(--redText);
}

.statusButtons.complete>.CheckboxIcon>g>path, .statusButtons.complete {
    stroke: var(--redText);
    color: var(--redText);
}

.statusButtons.defeat>.CheckboxIcon>g>text>tspan {
    fill: var(--greenText);
}

.statusButtons.defeat>.CheckboxIcon>g>path, .statusButtons.defeat {
    stroke: var(--greenText);
    color: var(--greenText);
}

.statusButtons.delete>.CheckboxIcon>g>text>tspan {
    fill: var(--greyText);
}

.statusButtons.delete>.CheckboxIcon>g>path, .statusButtons.delete {
    stroke: var(--greyText);
    color: var(--greyText);
}