.StepDisplay {
  display: inline-block;

  position: absolute;
  bottom: 0;
  right: 5.5%;

  height: 87.75%;
  width: 44.75%;

  overflow: hidden;

  z-index: 10;
}

.StepDisplay section {
  display: inline-block;

  padding: 2.5rem 2.5rem 0 2.5rem;
  height: 100%;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  z-index: 15;
}

.StepDisplay section header {
  display: flex;

  height: auto;
  min-height: auto;

  text-align: start;
  line-height: 2.3rem;
  font-size: 2.3rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: var(--redText);
  text-shadow: 0px 0px 10px var(--redText);

  align-items: center;
}

.StepDisplay section>header>div {
  display: flex;

  height: auto;
  min-height: auto;

  min-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: var(--redText);
  text-shadow: 0px 0px 10px var(--redText);

  align-items: center;
}

.StepDisplay section header::after {
  display: block;
  position: relative;

  content: '';

  flex-grow: 1;
  flex-shrink: 1;

  padding: 0px;
  height: 0.1rem;
  width: 100%;

  background-color: var(--redBackground);
}

.StepDisplay section main {
  margin-top: 2rem;

  overflow-y: auto;
  overflow-x: hidden;
}

.StepDisplay section footer {
  text-align: start;
  font-size: 2rem;
  line-height: 3.1rem;
  overflow-y: auto;
  overflow-x: hidden;

  color: var(--redText);
}

.StepDisplay section .break {
  display: block;
  position: relative;

  margin: 1.3rem 0;
  padding: 0px;
  height: 0.1rem;
  width: 100%;

  background-color: var(--redBackground);
}

/* Nav */

.StepDisplay>section>nav {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;

  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
}

.StepDisplay>section>nav>.statusButtons {
  min-height: 70%;
}

.StepDisplay>section>nav>button {
  color: var(--redText);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 3rem;
}

.StepDisplay .next::after {
  content: '>';
}

.StepDisplay .add::after {
  content: '+';
}

.StepDisplay .last::after {
  content: '<';
}

.StepDisplay .addFirst {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  height: 4rem;
  width: 4rem;

  font-size: 4rem;

  border: none;

  color: var(--redText);
}

.StepDisplay .addFirst:hover {
  text-shadow: 0px 0px 5px;
  color: var(--blueText);
}