.StepDisplay {
    display: inline-block;
  
    position: absolute;
    bottom: 0;
    right: 0;
  
    margin: 0;
    height: 94%;
    width: 69%;
  
    overflow: hidden;
  
    z-index: 10;
  }
  
  .StepDisplay section {
    display: inline-block;
  
    padding: 2.5rem 2.5rem 0 2.5rem;
    height: 100%;
    width: 100%;
  
    overflow-y: auto;
    overflow-x: hidden;
  
    z-index: 15;
  }
  
  .StepDisplay section header {
    display: flex;
  
    height: auto; 
    min-height: auto;
  
    text-align: start;
    line-height: 7rem;
    font-size: 7rem;
    overflow: hidden;
  
    align-items: center;
  }
  
  .StepDisplay section main {
    text-align: start;
    font-size: 2.5rem;
    line-height: 3.75rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .StepDisplay section footer {
    margin-bottom: 20rem;
  
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .StepDisplay section .break {
    display: block;
    position: relative;
    left: 2%;
  
    margin: 1.5rem 0;
    padding: 0px;
    height: 0.1rem;
    width: 96%;
  
    background-color: #000000;
  }
  
  .StepDisplay nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  
    z-index: 20;
  }
  
  .StepDisplay nav button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
  
    font-size: 1.25em;
    min-height: 0;
    min-width: 0;
    height: 4.5rem;
    aspect-ratio: 1;
  
    z-index: 15;
  }
  
  .StepDisplay .next {
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
  }
  
  .StepDisplay .next::after {
    position: relative;
    right: 25%;
    content: '>';
  }
  
  .StepDisplay .add {
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
  }
  
  .StepDisplay .add::after {
    position: relative;
    right: 25%;
    content: '+';
  }
  
  .StepDisplay .last {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 0;
  }
  
  .StepDisplay .last::after {
    position: relative;
    left: 25%;
    content: '<';
  }