.CheckboxIcon {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
}

.CheckboxIcon>svg {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.CheckboxIcon>span {
    color: black;
}

.CheckboxIcon>svg>g>path:nth-child(1) {
    display: inline;
    fill: none;
    fill-opacity: 1;
    stroke: #ffd641;
    stroke-width: 0.5;
    stroke-linecap: butt;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.CheckboxIcon>svg>g>path:nth-child(2) {
    display: inline;
    fill: #ffd641;
    fill-opacity: 1;
    stroke: #ffd641;
    stroke-width: 0.5;
    stroke-linecap: butt;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.CheckmarkIcon>g>circle {
    display: inline;
    fill: #000000;
    fill-opacity: 1;
    stroke: #ee4d47;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.CheckmarkIcon>g>path {
    display: inline;
    fill: #ee4d47;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.CompassIcon>g>circle:first-child {
    display: inline;
    fill: #000000;
    fill-opacity: 1;
    stroke: #2b925d;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.CompassIcon>g>path {
    display: inline;
    fill: #2a8f5c;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.CompassIcon>g>circle:last-child {
    display: inline;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 0.217745;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.ExclamationPointIcon>g>circle:nth-child(1) {
    fill: #000000;
    fill-opacity: 1;
    stroke: #ffd642;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.ExclamationPointIcon>g>circle:nth-child(2) {
    display: inline;
    fill: #ffd641;
    fill-opacity: 1;
    stroke: #ffd642;
    stroke-width: 1.39476;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.ExclamationPointIcon>g>path:nth-child(3) {
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.ExclamationPointIcon>g>path:nth-child(4) {
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.FileIcon>g>path {
    fill: #172b2e;
    fill-opacity: 1;
    stroke: #52d9e1;
    stroke-width: 2;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.ListIcon>g>circle:nth-child(1) {
    fill: #4dcfd8;
    fill-opacity: 1;
    stroke-width: 2.66667
}

.ListIcon>g>circle:nth-child(2) {
    fill: #4dcfd8;
    fill-opacity: 1;
    stroke-width: 2.66667
}

.ListIcon>g>circle:nth-child(3) {
    fill: #4dcfd8;
    fill-opacity: 1;
    stroke-width: 2.66667
}

.ListIcon>g>rect:nth-child(4) {
    fill: #4dcfd8;
    fill-opacity: 1;
    stroke-width: 2
}

.ListIcon>g>rect:nth-child(5) {
    fill: #4dcfd8;
    fill-opacity: 1;
    stroke-width: 2
}

.ListIcon>g>rect:nth-child(6) {
    fill: #4dcfd8;
    fill-opacity: 1;
    stroke-width: 2
}

.CursorIcon {
    display: inline;
    fill: #24fcfe;
}

.HardDriveIcon {
    transform: translate(-0.65841301, -10.873746);
    fill: rgba(150, 90, 0, 0.2);
    stroke: rgba(150, 90, 0, 1);
    overflow: visible;
    stroke-width: 0.3px;

    height: 100%;
    width: 100%;
}

.HardDriveIcon * {
    opacity: 0;
}

.HardDriveIcon.Selected * {
    opacity: 100;
}

.HardDriveIcon>g>path {
    display: inline;
}

.HardDriveIcon>g>path {
    transform: translateY(20%);
}

.HardDriveIcon.Selected>g>path {
    transform: translateY(0);
}

.HardDriveIcon>g>path:nth-child(4) {
    transition: 0.5s;
}

.HardDriveIcon>g>path:nth-child(3) {
    transition: 0.3s;
}

.HardDriveIcon>g>path:nth-child(2) {
    transition: 0.1s;
}

